<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qinglv">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".MainPackage.View.activity.SearchActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainPackage.View.activity.ScenicDetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainPackage.View.activity.PathDetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainPackage.View.activity.FoodDetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainPackage.View.activity.TravelDetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>